{% block stylesheets %}
    {{ encore_entry_link_tags('app-js') }}
{% endblock %}
{% block body %}
    {% block header %}
    {% endblock %}
    {% block content %}
        <div class="container-fluid">
            <div id="root" class="row" style="background: rgba(224,234,255,0.95);">
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}
        <script>
            let serverInfoJson = JSON.parse({{ serverInfoJson|json_encode|raw}});
            let hostName = {{ hostName|json_encode|raw }};
        </script>
        {{ encore_entry_script_tags('server-info') }}
    {% endblock %}
{% endblock %}